{% extends 'base.html' %}
{% block content %}

  <div class="main">
        <h4>Add new recipe</h4>
        <p>&nbsp</p>
        <div class='warning' style="display: none; color: rgb(244, 67, 54)"> Please fill all the form fields before submitting</div>
        <p>&nbsp</p>
        <!-- form -->
        <form name="submit_recipe" action="{{url_for('insert_recipe')}}" method="POST" class="col s6">
            <div class="row">
              <div class="input-field col s12">
                <select name='category'>
                  <option value="" disabled selected>Choose your option</option>
                    {% for category in categories %}
                        <option value="{{category.category}}"> {{ category.category }} </option>
                    {% endfor %}
                </select>
                <label>Select Category</label>
              </div>
            </div>
       <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input value="{{session['user']}}" readonly name="username" id="username" type="text" class="validate">
          <label for="username">Your name</label>
        </div>
       <div class="input-field col s6">
          <i class="material-icons prefix">insert_emoticon</i>
          <input name="title" id="title" type="text" class="validate">
          <label for="title">Recipe Name</label>
        </div>
       <div class="input-field col s6">
          <i class="material-icons prefix">flag</i>
          <input name="origin" id="origin" type="text" class="validate">
          <label for="origin">Country of Origin</label>
        </div>
        <div class="row"> 
        
        <!-- ingredient - quantity -->
            <div id="ingredients">
               <div class="ing1 input-field col s6">
                  <i class="material-icons prefix">flag</i>
                  <input name="ingredient" id="ing" type="text">
                  <label for="ingredient">Ingredient</label>
                </div>
               <div class="quant input-field col s6">
                  <i class="material-icons prefix">flag</i>
                  <input name="quantity" id="quant" type="text">
                  <label for="quantity">Quantity</label>
                </div>
            </div>
            
        </div>
        <a id="add_ingredient" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add ingredient
       <div class="input-field col s6">
          <i class="material-icons prefix">image</i>
          <input name="image" id="image" type="text" class="validate">
          <label for="image">Image url (ex: https://image.com/image.jpg)</label>
        </div>      
        <div class="row">
            <div class="input-field col s12">
                <textarea name="desc" id="desc" class="materialize-textarea"></textarea>
                <label for="desc">How to prepare your dish</label>   
            </div>
        </div>
  
        <div class="row">
            <div class="col s10"></div>
            <div class="col s2">
            <button id="submit_recipe" class="btn waves-effect waves-light red" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            </div>
        </div>
        </form>

  </div>





{% endblock %}