<!DOCTYPE html>
<html>
    <head> 
        <title> Cook Book Plus</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </head>
    
    <body>

        {% block content %}
        

        {% endblock %}
    <script>
         $(document).ready(function(){
            $('.sidenav').sidenav();
            $('select').formSelect();
          });

    

    </script>
    </body>
</html>