{% extends 'base.html' %}
{% block content %}

  <div class="main">
        <h4>Edit a recipe</h4>
        <p>&nbsp</p>
        
        <!-- form -->
        <form action="/update/{{recipe._id}}" method="POST" class="col s6">
            <div class="row">
              <div class="input-field col s12">
                <select name='category'>
                  <option value="" disabled>Choose your option</option>
                    {% for category in categories %}
                        <option {{'selected' if category.category == recipe.category}} value="{{category.category}}"> {{ category.category }} </option>
                    {% endfor %}
                </select>
                <label>Select Category</label>
              </div>
            </div>
       <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input value="{{ recipe.username }}" readonly name="username" id="username" type="text" class="validate"> 
          <label for="username">Your name</label>
        </div>
       <div class="input-field col s6">
          <i class="material-icons prefix">insert_emoticon</i>
          <input value="{{recipe.title}}" name="title" id="title" type="text" class="validate">
          <label for="title">Recipe Name</label>
        </div>
       <div class="input-field col s6">
          <i class="material-icons prefix">flag</i>
          <input value="{{recipe.origin}}" name="origin" id="origin" type="text" class="validate">
          <label for="origin">Country of Origin</label>
        </div>
        {% for ing, quant in ingredients.items() %}
        

        <div class="row">
            <div id="ingredients" class="added_div">
               <div class="ing1 input-field col s6">
                  <i class="material-icons prefix">flag</i>
                  <input value="{{ing}}" name="ingredient{{loop.index}}" id="ing{{loop.index}}" type="text">
                  <label for="ingredient{{loop.index}}">Ingredient</label>
                </div>
               <div class="quant input-field col s3">
                  <i class="material-icons prefix">flag</i>
                  <input value="{{quant}}" name="quantity{{loop.index}}" id="quant{{loop.index}}" type="text">
                  <label for="quantity{{loop.index}}">Quantity</label>
                </div>
               <div class="input-field col s3">
                    <a id="remove_ingredient{{loop.index}}" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">indeterminate_check_box</i></a>
                </div>
            </div>
        </div>
        {% endfor %}
         <a id="add_ingredient" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add ingredient
       <div class="input-field col s6">
          <i class="material-icons prefix">image</i>
          <input value="{{recipe.image}}" name="image" id="image" type="text" class="validate">
          <label for="image">Image url (ex: https://image.com/image.jpg)</label>
        </div>      
        <div class="row">
            <div class="input-field col s12">
                <textarea name="desc" id="desc" class="materialize-textarea">{{recipe.desc}}</textarea>
                <label for="desc">How to prepare your dish</label>   
            </div>
        </div>
  
        <div class="row">
            <div class="col s10"></div>
            <div class="col s2">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            </div>
        </div>
        </form>

  </div>






{% endblock %}