{% extends 'base.html' %}
{% block content %}

  <div class="main">
    <ul id="dropdown2" class="dropdown-content white lighten-5" style="margin: 10px">
      <li><a href="/sort/date_added/asc">Date Added (asc)</a></li>
      <li><a href="/sort/date_added/desc">Date Added (desc)</a></li>
      <li><a href="/sort/upvotes/asc">Upvotes (asc)</a></li>
      <li><a href="/sort/upvotes/desc">Upvotes (desc)</a></li>
      <li><a href="/sort/ingredients/asc">Ingredients (asc)</a></li>
      <li><a href="/sort/ingredients/desc">Ingredients (desc)</a></li>
    </ul>
    <a style="margin: 10px" class="btn-small pink lighten-4 dropdown-trigger" href="#!" data-target="dropdown2">Sort By:<i class="material-icons right">arrow_drop_down</i></a>
    
    {% for recipe in recipies %}
      <div class="post">
        <form action="/details/{{recipe._id}}">
            {% if recipe.image %}
                <div class="polaroid">
                   <img src="{{ recipe.image }}"/>
                   <div class="img_container">
                     <p> Mmm</p>
                   </div>
                </div>
            {% endif %}
            <p><strong>Category:</strong> {{ recipe.category }}</p>
            <p><strong>Name:</strong> {{ recipe.title }}</p>
            <p><strong>Date Added:</strong> {{ recipe.date_added }}</p>
            <p><strong>Upvotes:</strong> {{ recipe.upvotes }}</p>
            <button class="btn-small waves-effect waves-light red" type="submit" name="details">View Details
                    <i class="material-icons right">send</i>
             </button>
         </form>
      </div>
    {% endfor %}

  </div>






{% endblock %}