{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="header">
      <p id="header">Cook Book Plus</p>
      <p id="header-small"> Where all the tastes come together!</p>
  </div>
  <div class="menu">
       <nav>
          <div class="lime lighten-3 nav-wrapper">
            
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/add_recipe">Add Recipe</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">Javascript</a></li>
              <li><a href="mobile.html">Mobile</a></li>
            </ul>
          </div>
        </nav>

          <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>

  </div>
  <div class="left">left</div>
  <div class="main">
    <ul id="dropdown2" class="dropdown-content white lighten-5">
      <li><a href="/sort/date_added/asc">Date Added (asc)</a></li>
      <li><a href="/sort/date_added/desc">Date Added (desc)</a></li>
      <li><a href="/sort/upvotes/asc">Upvotes (asc)</a></li>
      <li><a href="/sort/upvotes/desc">Upvotes (desc)</a></li>
      <li><a href="/sort/ingredients/asc">Ingredients (asc)</a></li>
      <li><a href="/sort/ingredients/desc">Ingredients (desc)</a></li>
    </ul>
    <a class="btn-small pink lighten-4 dropdown-trigger" href="#!" data-target="dropdown2">Sort By:<i class="material-icons right">arrow_drop_down</i></a>
    
    {% for recipe in recipies %}
      <div class="post">
        <form action="/details/{{recipe._id}}">
            {% if recipe.image %}
                 <img src="{{ recipe.image }}"/>
            {% endif %}
            <p><strong>Category:</strong> {{ recipe.category }}</p>
            <p><strong>Name:</strong> {{ recipe.title }}</p>
            <p><strong>Date Added:</strong> {{ recipe.date_added }}</p>
            <p><strong>Upvotes:</strong> {{ recipe.upvotes }}</p>
            <button class="btn-small waves-effect waves-light red" type="submit" name="details">View Details
                    <i class="material-icons right">send</i>
             </button>
         </form>
      </div>
    {% endfor %}

  </div>
  <div class="right">right</div>
  <div class="footer">footer</div>
</div>





{% endblock %}