{% extends 'base.html' %}
{% block content %}

  <div class="main">
    {%if msg %}
    <p style="color: green">{{msg}}</p>
    {% endif %}
    {%if not user %}
        <h3> Login </h3>
        <p>
           Please type in your username and password
        </p>
        <form action="{{url_for('login')}}" method="POST" class="col s6">
            <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input name="user" id="user" type="text" class="validate">
            <label for="user">Your name</label>
            </div>
            <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input name="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
            </div>
            <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    {% else %}
    <p>You are logged in as {{user}}!</p>
    {% endif %}
  </div>






{% endblock %}