{% extends 'base.html' %}
{% block content %}

  <div class="main">


      <div class="post">
        <form action="/action/{{recipe._id}}" method="POST">
          {% if recipe.image %}
               <img src="{{ recipe.image }}"/>
          {% endif %}
          <p><strong>Category:</strong> {{ recipe.category }}</p>
          <p><strong>Name:</strong> {{ recipe.title }}</p>
          <p><strong>User:</strong> {{ recipe.username }}</p>
          <p>
            <strong>Ingredients:</strong>
            <ul class="browser-default">
            {% for k, v in recipe.ingredients.items() %}
              <li>
                {{ k }}: {{ v }}
              </li>
            {% endfor %}
            </ul>
          </p>
          <p><strong>Description:</strong></p>
          <div class="description" >{{ recipe.desc.replace('\r\n', '<br/>')|safe }}</div>
          <p><strong>Date Added:</strong> {{ recipe.date_added }}</p>
          <span id="span_rid" style="display: none">{{recipe._id}}</span>
          <p><strong>Upvotes: </strong><span id="upvotes"> {{ recipe.upvotes }}  </span><i id="upvote_button" class="small material-icons">arrow_upward</i></p>
          <input type="hidden" name="book_name" value="Name of Book here" /> 
          <button class="btn-small waves-effect waves-light red" type="submit" name="edit_button">Edit Recipe<i class="material-icons right">edit</i>
          </button>
          <button class="btn-small waves-effect waves-light red" type="submit" name="delete_button">Delete Recipe<i class="material-icons right">delete</i>
          </button>
        </form>
      </div>


  </div>






{% endblock %}